{% extends "base.html" %}
{% load static %}
{% load static %}
{% block content %}

<!-- Into -->
<!-- Featured -->
<section id="featured" class="py-4 my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <h4>Account To Pay to</h4>
                    <p>GTBank: 0215111037</p>
                    <p>Account Name: Asana Anthonia O.</p>
                </div>
            </div>
        </div>
    </div>
</section>
  
{% endblock content %}